<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodies</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="web.css">
    <title>web</title>
</head>
<body>
    <div class="container-all">
        <!-- nav bar -->    
             <div class="container-navbar col-lg-12">
                 <div id="logo" class="col-lg-3 row">  
                  <img src="194951-OYGT7F-682 copy.png" alt="">
                  <h1>STARS</h1>
                 </div>
                      <div id="menu" class="col-lg-9 row">
                      <a href="home" class="a-navbar">HOME</a>
                      <!-- <a href="about" class="a-navbar">ABOUT</a> -->
                      <a href="userTransaksi" class="a-navbar">STORE</a>
                      <a href="/logout" class="a-navbar">LOGOUT</a>
                 <!-- <a href="profile" class="a-navbar">PROFILE</a> -->
                 <!-- <a href="login12" class="a-navbar">LOGIN</a> -->
                      </div>
              </div>
        <!-- end navbar -->

        <!-- Note -->
        <section class="sistem col-lg-12 row">
            <div class="planet sun col-lg-4"> 
                <div class="center"></div>
            </div>
            <div class="Note">
                <pre class="col-lg-4">


       "Luar Angkasa adalah tempat 
          untuk belajar, bermimpi,
             dan berimaginasi"
                   :)
                    </pre>
            </div>
        </section>
        <!-- End Note -->
        
        <!-- content 1 -->
        <section>
        <div class="container-content">
            <div class="col-lg-12 kotak row">
                <h1 id="space" class="col-lg-12">SPACE</h1>
                <div class="container-content1 col-lg-5">
                     <div class="content1 row">
                     <img src="vecteezy_3d-earth-planet-illustration_10833673_804.png" alt="">
                     <h2 class="row col-lg-12"><span>Stars</span> Adventure</h2>
                     <p>Stars merupakan website ensiklopedia sederhana tentang luar angkasa yang mencakup tentang planet-planet, bintang, matahari, galaxy dan masih banyak lagi. Jika kamu ingin lebih tau yuk ikut lihat. Sebelum itu kalian pastikan sudah punya akun ya. Setelah itu kalian bisa login dan masuk ke website ini</p>
                     </div>
                </div>
        
                <div class="content2 col-lg-5">
                     <img src="4Z_2101.w017.n001.333A.p30.333.jpg" alt="" class="content2">
                </div>
        
            </div>
         </div>
         </section>
         
        <!-- end content 1 -->

     <!-- Content 2 -->
     <section>
     <div class="container-content2 col-lg-12 row">
        <div class="container col-lg-12">   
            <div class="content col-lg-12">
                <img src="vecteezy_solar-system-for-science-education_6771844.jpg" alt="">
            </div>
        </div>
        <div class="container1 col-lg-12">   
            <div class="content col-lg-12">
                <h1>Sistem Tata Surya</h1> <br>
                <p>Tata Surya [c] adalah sistem Matahari yang terikat gravitasi dan benda-benda yang mengorbitnya. Itu terbentuk 4,6 miliar tahun yang lalu dari keruntuhan gravitasi awan molekul raksasa antarbintang . Sebagian besar (99,86%) dari massa sistem berada di Matahari, dengan sebagian besar sisa massa terdapat di planet Jupiter . Empat planet sistem dalam— Merkurius , Venus , Bumi , dan Mars —adalah planet terestrial, yang terutama terdiri dari rock dan metal. Empat planet raksasa di sistem luar secara substansial lebih besar dan lebih masif daripada planet terestrial. Dua yang terbesar , Yupiter dan Saturnus , adalah raksasa gas , yang sebagian besar terdiri dari hidrogen dan helium ; dua berikutnya, Uranus dan Neptunus , adalah raksasa es , sebagian besar terdiri dari zat-zat yang mudah menguap dengan titik leleh yang relatif tinggi dibandingkan dengan hidrogen dan helium, seperti air , amonia , dan metana .. Kedelapan planet tersebut memiliki orbit hampir melingkar yang terletak di dekat bidang orbit Bumi , yang disebut ekliptika </p>
            </div>
        </div>
    </div>
     </section>
     <!-- content 2 -->
        <!-- footer -->
     <div class="container-footer">
     <h1 class="h1-footer"></h1>
     
     </div>
        <!-- end footer -->
     </div>
</body>