<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="web.css">
</head>
<body>
    <div class="container-navbar col-lg-12">
        <div id="logo" class="col-lg-3 row">  
         <img src="194951-OYGT7F-682 copy.png" alt="">
         <h1>STARS</h1>
        </div>
             <div id="menu" class="col-lg-9 row">
             <a href="home" class="a-navbar">HOME</a>
             <a href="about" class="a-navbar">ABOUT</a>
             <a href="userTransaksi" class="a-navbar">STORE</a>
             <a href="/logout" class="a-navbar">LOGOUT</a>
        <!-- <a href="profile" class="a-navbar">PROFILE</a> -->
        <!-- <a href="login12" class="a-navbar">LOGIN</a> -->
             </div>
     </div>

    <div class="content col-lg-12 row">

        <div class="container col-lg-4">
            <div class="in col-lg-12">
            <h1>Login</h1>
            <form action="/login" method="post">
                <br>
                <div>
                    <label for="">Email:</label><br>
                    <input type="text" name="email" placeholder="Email" required>
                </div> <br>
                <div>
                    <label for="">Password:</label><br>
                    <input type="password" name="password" placeholder="Password" required>
                </div><br> 
                <button>Login</button> 
                <br> <br>
                <p>Belum memiliki akun? <br> ayo daftar dulu <a href="registrasi">Registrasi</a></p>
            </form>
        </div>

        </div>
</div>
</body>
</html>