<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodies</title>
    <link rel="stylesheet" href="login12.css">
    <link rel="stylesheet" href="web.css">
    <title>web</title>
</head>
<body>
    <div class="container row">
   <!-- nav bar -->
        <div class="container-navbar col-lg-12">
            <div id="logo" class="col-lg-3 row">  
             <img src="194951-OYGT7F-682 copy.png" alt="">
             <h1>STARS</h1>
            </div>
        </div>
   <!-- end navbar -->
   
   <!-- content 1 -->
<div class="container-content">
    <div class="col-lg-12 kotak row">
        <h1 id="space" class="col-lg-12">SPACE</h1>
        <div class="container-content1 col-lg-5">
             <div class="content1 row">
             <img src="vecteezy_3d-earth-planet-illustration_10833673_804.png" alt="">
             <h2 class="row col-lg-12"><span>Stars</span> Adventure</h2>
             <p>Stars merupakan website ensiklopedia sederhana tentang luar angkasa yang mencakup tentang planet-planet, bintang, matahari, galaxy dan masih banyak lagi. Jika kamu ingin lebih tau yuk ikut lihat. Sebelum itu kalian pastikan sudah punya akun ya. Setelah itu kalian bisa login dan masuk ke website ini</p>
             <a href="login"><button class="login_user">Login as User</button></a>
             <a href="index"><button class="login_admin">Login as Admin</button></a>
             </div>
        </div>

        <div class="content2 col-lg-5">
             <img src="4Z_2101.w017.n001.333A.p30.333.jpg" alt="" class="content2 col-lg-12">
        </div>

    </div>
</div>

   <!-- end content 1 -->

   <!-- footer -->
<div class="container-footer">
<h1 class="h1-footer"></h1>

</div>
   <!-- end footer -->
</div>
</body>