*{
    margin: 0;
    padding: 0;
}

body {
    background: url("1624.jpg") no-repeat center center fixed; 
    background-size: cover;
}

#logo>img {
height: 80px;
margin-left: 50px;
animation: star 3s infinite;
}
@keyframes star {
    50% {opacity: 0;}
}
#logo>img:hover{
    height: 80px;
    margin-left: 50px;
    animation:none;
}
#logo>h1 {
    display: flex;
    align-items: center;
    justify-content: center;

    color: black;
    background-color: rgb(255, 255, 255);
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow:  0 0 20px 10px rgb(255, 255, 255);
    
    margin-top: 10px;
    height: 60px;
    width:50%;
    border-radius: 50px;
}
.container-navbar {
    background:url("4Z_2101.w017.n001.333A.p30.333.jpg");
    background-position: center;
    background-size: cover;
    background-position: top 10px;
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index:1 ;
}

.container-navbar>#menu{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 30px;
}

.container-navbar>#menu>a {
    margin: 10px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4vh;
    text-decoration: none;
    padding: 10px;
}

.container-navbar>#menu>a:hover {
    color: black;
    background-color: rgb(255, 255, 255);
    transition: .5% ease-in-out;
    transition-delay: .3s;
    border-radius: 50px;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.541);
}

.a-navbar {
    color: white;
    text-decoration: none;
}
/* 
.profile {
    display: flex;
    /* justify-content: center; */
    /* margin-left: 150px;
    margin-top: 100px;
    align-items: center;
    font-size: 30px;
} */ 
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile1 {
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.63);
    height: 100px;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.table1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    font-family: sans-serif;
    color : white;
    border-collapse: collapse;
    border-radius: 10px;
}

td {
    border: 5px solid  rgba(0, 0, 0, 0.763);
    background-color: rgba(0, 0, 0, 0.763);
    border-top: none;
    height: 50px;
    text-align: center;
}
th {
    height: 50px;
    background-color:rgba(0, 0, 0, 0.763);
    border: 5px solid rgba(0, 0, 0, 0.763);
}

.delete {
    border: none;
}

.delete>a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

.delete>a:hover {
   text-shadow: 0 0px 10px rgba(255, 255, 255, 0.63);
   
}

